i {
    width: 16px;
    height: 16px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
}

.icon-list-chevron {
    background-image: url("/icons/list/chevron.svg");
}

.icon-accent {
    width: 29px;
    height: 29px;
    background-image: url("/icons/29/accent.png");
}

.icon-destructive {
    width: 29px;
    height: 29px;
    background-image: url("/icons/29/destructive.png");
}

.icon-success {
    width: 29px;
    height: 29px;
    background-image: url("/icons/29/success.png");
}
