/* 
 * iSmooth Index CSS
 */

/* General Styles ========================================================== */

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    overflow: hidden;
    background-color: #000;
}

.page {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: #fff;
    background-color: #000;
    overflow: hidden;
    -webkit-user-select: none;
}

html,
body,
button,
input,
select {
    font: 14px/1.25 sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.view,
.content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 5px;
    -webkit-user-select: none;
}

.content {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    background-color: #fff;
    color: #222;
}

/* Fix for scrolling items inside page container */
.content > * {
    -webkit-transform: translateZ(0px);
    transform: translateZ(0px);
}

.bg-primary {
    background: -webkit-linear-gradient(top, #e2e5ea, #d0d2d8);
}

.bg-secondary {
    background: -webkit-linear-gradient(top, #e7e9ec, #c0c4cb);
}

.bg-pinstripe {
    background: #c7ced5
        url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAABCAIAAACdaSOZAAAAFElEQVQIHWM4euYKErp0+tINIAIAuHQQ4rDrv5YAAAAASUVORK5CYII=");
}

/* Two Column View ========================================================= */

.two-column-view .two-column-left {
    left: 0;
    right: 50%;
}
.two-column-view .two-column-right {
    left: 50%;
    right: 0;
}

.two-column-view.right-large .two-column-left {
    left: 0;
    right: 68%;
}
.two-column-view.right-large .two-column-right {
    left: 32.25%;
    right: 0;
}

.two-column-view.left-large .two-column-left {
    left: 0;
    right: 32.25%;
}
.two-column-view.left-large .two-column-right {
    left: 68%;
    right: 0;
}

/* Loading Overlays ======================================================== */

.loading-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
}
.loading-overlay.dark {
    background-color: rgba(0, 0, 0, 0.5);
}

.loading-overlay .loading-box {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    z-index: 1010;
    padding: 25px 10px;
    min-width: 140px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 9px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
.loading-overlay .loading-box .spinner {
    margin: 0 auto 10px;
}

.spinner {
    width: 40px;
    height: 40px;
    background: url("/icons/anim/spinner-40-light.png") no-repeat;
    -webkit-animation: spinner-spin-frames 1.5s steps(12) infinite;
}
@-webkit-keyframes spinner-spin-frames {
    100% {
        background-position: -480px 0;
    }
}

.largespinner {
    width: 99px;
    height: 99px;
    background: url("/icons/anim/largespinner.png") no-repeat;
    -webkit-animation: largespinner-spin-frames 1.5s steps(12) infinite;
}
@-webkit-keyframes largespinner-spin-frames {
    100% {
        background-position: -1188px 0;
    }
}

@-webkit-keyframes opacity-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes opacity-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
