/*
 * iSmooth List CSS 
 */

.list {
    position: relative;
    padding: 0;
    margin: 0;
    list-style: none;
    list-style-type: none;
    -webkit-user-select: none;
}

/* Reset style */
.list .list-item {
    display: block;
    width: 100%;
    text-align: left;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
    overflow: hidden;
}

/* General Styles ========================================================== */

.list .list-item {
    position: relative;
    box-sizing: border-box;
    text-decoration: none;
}
.list .list-item.active,
.list .list-item.selected,
.list input:checked + .list-item {
    background: -webkit-linear-gradient(top, #058cf5, #015de6);
    box-shadow: none !important;
}

.list .list-item .text-primary {
    display: block;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}
.list .list-item.active .text-primary,
.list .list-item.selected .text-primary {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
}

.list .list-item .text-secondary {
    display: block;
    padding: 8px;
    font-size: 12px;
    font-weight: bold;
    color: #444;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

.list .list-item .icon-primary {
    float: left;
    width: 29px;
    height: 29px;
    margin: 7px 11px 7px 7px;
    vertical-align: middle;
}

.list .list-item .icon-secondary {
    float: right;
    width: 29px;
    height: 29px;
    margin: 7px 7px 7px 11px;
    vertical-align: middle;
}

.list .list-item .icon-list-chevron {
    float: right;
    margin: 13px 8px 13px 0;
}

.list .list-item.checked::before {
    content: "";
    float: right;
    width: 14px;
    height: 14px;
    background-image: url("/icons/list/checkmark.png");
    margin: 15px 10px 13px 0;
}

/* Primary List ============================================================ */

.list.list-primary {
    max-width: 320px;
    margin: 0 auto;
    padding: 16px 0;
}
.list.list-primary.list-medium {
    max-width: 480px;
    padding: 22px 0;
}
.list.list-primary.list-large {
    max-width: 640px;
    padding: 28px 0;
}

.list.list-primary .list-group {
    border-radius: 9px;
    background-color: #f7f7f7;
    margin: 12px;
}
.list.list-primary.list-medium .list-group {
    margin: 18px;
}
.list.list-primary.list-large .list-group {
    margin: 24px;
}
.list.list-primary .list-group:first-child {
    margin-top: 0;
}

.list.list-primary .list-title {
    padding: 8px 12px;
    margin: -12px 12px;
    font-size: 16px;
    font-weight: bold;
    color: #4c566c;
    text-shadow: 0 1px 0 #fff;
}
.list.list-primary.list-medium .list-title {
    margin: -18px 18px;
}
.list.list-primary.list-large .list-title {
    margin: -24px 24px;
}

.list.list-primary .list-item {
    border: 1px solid #bcbdc0;
    box-shadow: 0 1px #fff;
    margin-top: -1px;
    height: 44px;
    vertical-align: middle;
    box-sizing: border-box;
}

.list.list-primary .list-item:first-child {
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    box-shadow: inset 0 1px #e4e4e4, 0 1px #fff;
}

.list.list-primary .list-item:last-child {
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}

/* Secondary List ========================================================== */

.list.list-secondary .list-item {
    border: 1px solid #c9cccf;
    border-width: 1px 0 1px 0;
    box-shadow: 0 1px rgba(255, 255, 255, 0.3);
    margin-top: -1px;
    height: 44px;
    vertical-align: middle;
}

.list.list-secondary.list-large .list-item {
    height: 88px;
}

.list.list-secondary .list-item .icon ~ .text-primary {
    line-height: 1;
    padding-top: 5px;
}
.list.list-secondary .list-item .icon ~ .text-secondary {
    line-height: 1;
}
