/*
 * iSmooth Animations CSS
 */

/* Fading Animations ======================================================= */

@-webkit-keyframes opacity-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes opacity-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/* Sliding Animations ====================================================== */

.slide-from-left {
    -webkit-animation: slide-from-left 0.3s 0.05s ease-in-out forwards;
}

@-webkit-keyframes slide-from-left {
    from {
        -webkit-transform: translateX(-100%) translateZ(0);
    }
    to {
        -webkit-transform: translateZ(0);
    }
}

.slide-to-left {
    -webkit-animation: slide-to-left 0.3s 0.05s ease-in-out forwards;
}

@-webkit-keyframes slide-to-left {
    from {
        -webkit-transform: translateZ(0);
    }
    to {
        -webkit-transform: translateX(-100%) translateZ(0);
    }
}

.slide-from-right {
    -webkit-animation: slide-from-right 0.3s 0.05s ease-in-out forwards;
}

@-webkit-keyframes slide-from-right {
    from {
        -webkit-transform: translateX(100%) translateZ(0);
    }
    to {
        -webkit-transform: translateZ(0);
    }
}

.slide-to-right {
    -webkit-animation: slide-to-right 0.3s 0.05s ease-in-out forwards;
}

@-webkit-keyframes slide-to-right {
    from {
        -webkit-transform: translateZ(0);
    }
    to {
        -webkit-transform: translateX(100%) translateZ(0);
    }
}
