/*
 * iSmooth List CSS 
 */

.list {
    position: relative;
    padding: 0;
    margin: 0;
    list-style: none;
    list-style-type: none;
    -webkit-user-select: none;
}

/* Reset style */
.list .list-item {
    display: block;
    width: 100%;
    text-align: left;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
    overflow: hidden;
}

/* General Styles ========================================================== */

.list .list-item {
    position: relative;
    box-sizing: border-box;
    text-decoration: none;
}
.list .list-item:active,
.list .list-item.selected,
.list input:checked + .list-item {
    background: -webkit-linear-gradient(top, #058cf5, #015de6);
    box-shadow: none !important;
}

.list .list-item .text-primary {
    display: block;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}
.list .list-item:active .text-primary,
.list .list-item.selected .text-primary {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
}

.list .list-item:active .text-secondary,
.list .list-item.selected .text-secondary {
    color: rgba(255, 255, 255, 0.8) !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
}

.list .list-item .text-secondary {
    display: block;
    padding: 8px;
    font-size: 12px;
    font-weight: bold;
    color: #444;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

.list .list-item .icon-primary {
    float: left;
    width: 29px;
    height: 29px;
    margin: 7px 11px 7px 7px;
    vertical-align: middle;
}

.list .list-item .icon-secondary {
    float: right;
    width: 29px;
    height: 29px;
    margin: 7px 7px 7px 11px;
    vertical-align: middle;
}

.list .list-item.chevron::before {
    content: "";
    float: right;
    width: 9px;
    height: 13px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOSIgaGVpZ2h0PSIxMyIgdmlld0JveD0iMCAwIDkgMTMiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNMC4wMzY4NTQ4IDIuMDg1NDZMNC42MDE4IDYuNTQwNjVMMCAxMC45NjkyTDIuMDgxMDQgMTNMOC44MjE0MyA2LjQyMjlMMi4yMzg1NSAwTDAuMDM2ODU0OCAyLjA4NTQ2WiIgZmlsbD0iIzdCN0I3QiIvPgo8L3N2Zz4K);
    background-position: center;
    background-repeat: no-repeat;
    margin: 15px 10px 13px 0;
}

.list .list-item.checked::before {
    content: "";
    float: right;
    width: 14px;
    height: 14px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAABVElEQVR4nGJmIBJIqNpXKJiELf359f29n1/e3GQiRhMnv6SBpKZLCxungBy/uLo3SIygRkZGJmZZXd/JIPr//39/Xz84OZ0ojSIKpmk8wvI2IPabB6dnff/4/AJBjSxsnEKSGq4tIPbvH5+ePru+qxImh1cjSBNIM4j99OqOsr+/f3yEa+TgEVHXcSt9qGIZv52RiZkNJgEKEJAzQewvbx8eeffk4jJkQ5lACkChxSem5iGh5lANk0AOkMeXN+eiu4bpw/Nr679/enmZARpXXALSxrgCBBkwgp3FJ66rYZ99BuRUkCGsHHzSIL+BAuTavonayH6DAXDK+fPz6yuG///+8Ioqu7Cy84gzMbNygsQfX9yY+e3D0zPYAg4eqi/vHO7++u7RcRgfW4Bg2AgB//9/efvgoICEhi8jIzPrvdNLg8AuIRaAQpKZlYOfkDpAAAAA//9OZIrDCgrUAQAAAABJRU5ErkJggg==);
    margin: 15px 10px 13px 0;
}

/* Primary List ============================================================ */

.list.list-primary {
    max-width: 320px;
    margin: 0 auto;
    padding: 16px 0;
}
.list.list-primary.list-medium {
    max-width: 480px;
    padding: 22px 0;
}
.list.list-primary.list-large {
    max-width: 640px;
    padding: 28px 0;
}

.list.list-primary .list-group {
    border-radius: 9px;
    background-color: #f7f7f7;
    margin: 12px;
}
.list.list-primary.list-medium .list-group {
    margin: 18px;
}
.list.list-primary.list-large .list-group {
    margin: 24px;
}
.list.list-primary .list-group:first-child {
    margin-top: 0;
}

.list.list-primary .list-title {
    padding: 8px 12px;
    margin: -12px 12px;
    font-size: 16px;
    font-weight: bold;
    color: #4c566c;
    text-shadow: 0 1px 0 #fff;
}
.list.list-primary.list-medium .list-title {
    margin: -18px 18px;
}
.list.list-primary.list-large .list-title {
    margin: -24px 24px;
}

.list.list-primary .list-item {
    border: 1px solid #bcbdc0;
    box-shadow: 0 1px #fff;
    margin-top: -1px;
    height: 44px;
    vertical-align: middle;
    box-sizing: border-box;
}

.list.list-primary .list-item:first-child {
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    box-shadow: inset 0 1px #e4e4e4, 0 1px #fff;
}

.list.list-primary .list-item:last-child {
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}

.list.list-primary .list-item .text-primary {
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.list.list-primary .list-item .text-secondary {
    float: right;
    font-size: 16px;
    padding: 12px 12px 12px 0;
    color: #999;
}

/* Secondary List ========================================================== */

.list.list-secondary .list-item {
    border: 1px solid #c9cccf;
    border-width: 1px 0 1px 0;
    box-shadow: 0 1px rgba(255, 255, 255, 0.3);
    margin-top: -1px;
    height: 44px;
    vertical-align: middle;
}

.list.list-secondary.list-large .list-item {
    height: 88px;
}

.list.list-secondary .list-item .icon ~ .text-primary {
    line-height: 1;
    padding-top: 5px;
}
.list.list-secondary .list-item .icon ~ .text-secondary {
    line-height: 1;
}
